---

import { config } from '../../config'

---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="robots" content="index, follow" />

<title>{config.siteTitle} | {config.site}</title>
    
<meta name="title" content={config.siteTitle} />
<meta name="description" content={config.siteDescription} />
<meta name="autor" content={config.autor} />

<link href={config.siteUrl} rel="canonical" />