---
import { config } from "../config";
import Nav from "./Nav.astro";
import Container from "./scaffolding/Container.astro";
import Brand from "./ui/Brand.astro";
import Typography from "./ui/Typography.astro";

---

<footer
    class="bg-gray-900 text-gray-300 py-12 mt-24"
>
    <Container
        class="flex flex-col md:flex-row justify-between items-center gap-8 text-center md:text-left">
        
        <!-- Logo y descripción -->
        <div>
            <Brand showLightLogo={false} class="h-7 w-auto mb-2"/>
            <Typography
                class="text-gray-400">
                {config.siteLegend}
            </Typography>
        </div>

        <!-- Links -->
        <div class="space-x-6">
            <Nav class="!text-gray-400" />
        </div>
    </div>

    <!-- Copyright -->
    <div class="mt-8">
        <Typography
            tag="small"
            class="text-gray-400 mb-0.5">
            © {new Date().getFullYear()} {config.site}. Todos los derechos reservados.
        </Typography>   
        <Typography
            tag="small"
            class="text-gray-400">
            Creado por <a href={config.autorUrl} target="_blank">{config.autor}</a>
        </Typography> 
    </div>
    </Container>
</footer>
