---
import { Favicon, Metadata } from "@forever-twenty-nine/astro-ui-lib";
import "../styles/global.css";
import { config } from "../config";
---

<!doctype html>
<html lang="es" class="scroll-smooth" data-theme="light">
<html lang="es" class="scroll-smooth" data-theme="light">
	<head>
		<Metadata
			site={config.site}
			title={config.title}
			description={config.description}
			author={config.author}
			url={config.url}
		/>
		<Favicon favicon={config.favicon} />
	</head>

	<body>
		{/* Content: pages > index.astro */}
		{/* Content: pages > index.astro */}
		<slot />
	</body>
</html>
