---
import {
	Favicon,
	Metadata,
	HeaderFixed,
	Footer,
} from "@forever-twenty-nine/astro-ui-lib";
import "../styles/global.css";
import { config } from "../config";

import Logo from "../assets/brand.svg";
import LogoFooter from "../assets/brand-negative.svg";

const navLinks = [
	{ href: "#about", text: "Sobre Nosotros" },
	{ href: "#contact", text: "Contacto" },
];

const brandData = {
	href: "/",
	src: Logo,
	alt: "Logo de Mi Librería UI",
	class: "custom-brand-class",
	classImage: "h-8 w-auto",
};
---

<!doctype html>
<html lang="es" class="scroll-smooth" data-theme="light">
	<head>
		<Metadata
			site={config.site}
			title={config.title}
			description={config.description}
			author={config.author}
			url={config.url}
		/>
		<Favicon favicon={config.favicon}  />
	</head>

	<body>
		<HeaderFixed links={navLinks} brand={brandData} />

		<main class="pt-20">
			<slot />
		</main>

		<Footer
			imageSrc={LogoFooter}
			alt="Logo de Mi Librería UI"
			legend={config.siteLegend}
			copyright={`© ${new Date().getFullYear()} ${config.site}. Todos los derechos reservados.`}
			author={`Creado por ${config.author}`}
		/>
	</body>
</html>
