---


const { tag = "p", class: extraClasses } = Astro.props;

const commonClasses = "";

const baseClasses = {
  h1: "text-6xl font-bold",
  h2: "text-4xl font-bold",
  h3: "text-3xl font-bold",
  h4: "text-2xl font-bold",
  h5: "text-xl font-bold",
  h6: "text-lg font-bold",
  p: "text-base",
  small: "text-sm"
};

const tagClasses = baseClasses[tag as keyof typeof baseClasses] || baseClasses.h3;

const allClasses = `${commonClasses} ${tagClasses} ${extraClasses}`;

---


{
    tag === 'h1' ? (
      <h1 class={allClasses}>
        <slot/>
      </h1>
    ) : tag === 'h2' ? (
      <h2 class={allClasses}>
        <slot/>
      </h2>
    ) : tag === 'h3' ? (
      <h3 class={allClasses}>
        <slot/>
      </h3>
    ) : tag === 'h4' ? (
      <h4 class={allClasses}>
        <slot/>
      </h4>
    ) : tag === 'h5' ? (
      <h5 class={allClasses}>
        <slot/>
      </h5>
    ) : tag === 'h6' ? (
      <h6 class={allClasses}>
        <slot/>
      </h6>
    ) : tag === 'p' ? (
      <p class={allClasses}>
        <slot/>
      </p>
    ) : tag === 'small' ? (
      <p class={allClasses}>
        <slot/>
      </p>
    ) : (
      <p class={allClasses}>
        <slot/>
      </p>  
    )
}
